import os

TESTING = False
DEBUG = True
LOGFILE_PATH = os.environ.get("LOGFILE_PATH", "/tmp/error.log")
SERVICE_PORT = os.environ.get("SERVICE_PORT", "")
DATA_DIR = os.environ.get("DATA_DIR", "/")
MAJORITY_THRESHOLD = os.environ.get("MAJORITY_THRESHOLD", "")
BAYESIAN_JWT_AUDIENCE = os.environ.get("BAYESIAN_JWT_AUDIENCE", "")
BAYESIAN_FETCH_PUBLIC_KEY = os.environ.get("BAYESIAN_FETCH_PUBLIC_KEY", "")
DISABLE_AUTHENTICATION = os.environ.get("DISABLE_AUTHENTICATION", "")
